{% extends 'userprofile/base.html' %}

{% block title %}
    Instant Transfer
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="py-10 text-center space-y-6">
        <h2>Transfer Money</h2>
        <style>
            form {
                display: inline-block;
            }
        </style>
        <form method="post" class="form-group" style="width:330px">
            {% csrf_token %}
            {{ form|crispy }}
            <p><i style="color: Red; font-size: 15px;">Current Balance: {{ src_bal.currency}} {{src_bal.balance }}</i></p>
            <button type="submit" class="btn btn-success">Send</button>
        </form>
    </div>
{% endblock %}